Source: cpanminus
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libcpan-distnameinfo-perl <!nocheck>,
                     libcpan-meta-check-perl <!nocheck>,
                     libcpan-meta-requirements-perl <!nocheck>,
                     libcpan-meta-yaml-perl <!nocheck>,
                     libfile-pushd-perl,
                     libhttp-tiny-perl <!nocheck> | curl <!nocheck> | wget <!nocheck>,
                     libjson-pp-perl <!nocheck>,
                     liblocal-lib-perl <!nocheck>,
                     libmodule-cpanfile-perl <!nocheck>,
                     libmodule-metadata-perl <!nocheck>,
                     libparse-pmfile-perl <!nocheck>,
                     libstring-shellquote-perl <!nocheck>,
                     libversion-perl <!nocheck>,
                     perl
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/cpanminus
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/cpanminus.git
Homepage: https://metacpan.org/release/App-cpanminus
Rules-Requires-Root: no

Package: cpanminus
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libcpan-distnameinfo-perl,
         libcpan-meta-check-perl,
         libcpan-meta-requirements-perl,
         libcpan-meta-yaml-perl,
         libfile-pushd-perl,
         libhttp-tiny-perl | curl | wget,
         libjson-pp-perl,
         liblocal-lib-perl,
         libmodule-cpanfile-perl,
         libmodule-metadata-perl,
         libparse-pmfile-perl,
         libstring-shellquote-perl,
         libversion-perl
Recommends: make
Suggests: gcc | c-compiler
Description: script to get, unpack, build and install modules from CPAN
 cpanminus provides a command-line (non interactive) interface to
 automatically download, build and install Perl modules from CPAN.
 .
 It requires zero configuration, and stands alone. It also has a very low memory
 footprint compared to similar software: when running, it requires only 10MB of
 RAM.
 .
 It installs to wherever ExtUtils::MakeMaker and Module::Build are
 configured to. So if you're using local::lib, then it installs to your
 local perl5 directory. Otherwise it installs to the siteperl directory.
 .
 cpanminus at a boot time checks whether you have configured local::lib,
 or have the permission to install modules to the sitelib directory. If
 neither, it automatically sets up local::lib compatible installation
 path in a perl5 directory under your home directory.
